@media (max-width: 1114px) and (max-height: 705px) {
    
    .bill-image {
        display: none;
    }

    .cards > .cards-main {
        display: block;
        margin-top: 35vw;
    }
    
    .cards ul {
        right: -21vw;
        width: 55vw;
    }

    .cards .cards-main li {
        margin: 5vh;
    }

    .nav-contents {
        margin-left: -12.5vw;
    }
}